n8n/mission-control-daily-briefs.json
{
  "name": "Mission Control Daily Brief Emails",
  "nodes": [
    {
      "parameters": {
        "color": 5,
        "width": 540,
        "height": 320,
        "content": "## Setup\n\n1. Import this workflow.\n2. In workflow settings, confirm timezone is `America/New_York`.\n3. Attach your Gmail credential to each `Send ... Email` node.\n4. Update the hardcoded `change-me@example.com` recipient in each Gmail node.\n5. Replace `REPLACE_WITH_MISSION_CONTROL_MACHINE_KEY` in each HTTP Request node.\n\nBase URL is hardcoded in this export.\n\nThis workflow only sends recommendation emails. It does not auto-apply `sync_today`."
      },
      "id": "9d1474b5-619a-4ddd-9d83-cd1d5325d76c",
      "name": "Setup Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -860,
        -520
      ]
    },
    {
      "parameters": {
        "color": 7,
        "width": 540,
        "height": 220,
        "content": "## Timing\n\n- Morning: `08:05` ET weekdays\n- Midday: `12:30` ET weekdays\n- EOD: `16:45` ET weekdays\n\nMidday and EOD compute `since` as the same day at `08:05 ET` so the digest window lines up with the morning brief.\n\nThe EOD branch also fetches the current day's `project_status_updates` and appends them to the email."
      },
      "id": "7d481e69-d436-4525-86a6-c3ed053a66c7",
      "name": "Timing Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        -520
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 8 * * 1-5"
            }
          ]
        }
      },
      "id": "412064fa-35bf-40d4-be8a-d5272a783aeb",
      "name": "Morning Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -860,
        -240
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://mission-control-orpin-chi.vercel.app/api/briefing/render",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "morning"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Mission-Control-Key",
              "value": "REPLACE_WITH_MISSION_CONTROL_MACHINE_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "b4e89935-eefb-48f1-af6d-34ebd516ec53",
      "name": "Fetch Morning Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -620,
        -240
      ]
    },
    {
      "parameters": {
        "sendTo": "change-me@example.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "emailType": "html",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "3c5f9b37-4f46-46ca-b876-32682525de06",
      "name": "Send Morning Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -360,
        -240
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 12 * * 1-5"
            }
          ]
        }
      },
      "id": "819e4f74-1f7b-4584-81dc-2d8827ec695e",
      "name": "Midday Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -860,
        20
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://mission-control-orpin-chi.vercel.app/api/briefing/render",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "midday"
            },
            {
              "name": "since",
              "value": "={{ $now.setZone('America/New_York').startOf('day').plus({ hours: 8, minutes: 5 }).toUTC().toISO() }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Mission-Control-Key",
              "value": "REPLACE_WITH_MISSION_CONTROL_MACHINE_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "0c5e209c-bb43-40de-8365-269412f44857",
      "name": "Fetch Midday Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -620,
        20
      ]
    },
    {
      "parameters": {
        "sendTo": "change-me@example.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "emailType": "html",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "1c8ff998-a269-4449-bf44-b86323058f74",
      "name": "Send Midday Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -360,
        20
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "45 16 * * 1-5"
            }
          ]
        }
      },
      "id": "f74b2023-1d71-438e-b766-8638bb056c8a",
      "name": "EOD Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -860,
        280
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://mission-control-orpin-chi.vercel.app/api/briefing/render",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "eod"
            },
            {
              "name": "since",
              "value": "={{ $now.setZone('America/New_York').startOf('day').plus({ hours: 8, minutes: 5 }).toUTC().toISO() }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Mission-Control-Key",
              "value": "REPLACE_WITH_MISSION_CONTROL_MACHINE_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "e7874f09-6748-4f1d-ab10-adc2da237b76",
      "name": "Fetch EOD Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -620,
        280
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://mission-control-orpin-chi.vercel.app/api/project-status-updates",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $now.setZone('America/New_York').toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "to",
              "value": "={{ $now.setZone('America/New_York').toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Mission-Control-Key",
              "value": "REPLACE_WITH_MISSION_CONTROL_MACHINE_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "8b5b60df-68ef-434d-91bc-5a7ad1456d17",
      "name": "Fetch Today Project Status Updates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "function toArray(value) {\n  if (Array.isArray(value)) return value;\n  if (value && Array.isArray(value.data)) return value.data;\n  if (value && Array.isArray(value.items)) return value.items;\n  return [];\n}\n\nfunction escapeHtml(value) {\n  return String(value)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\\\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\nfunction severity(rag) {\n  if (rag === 'Red') return 0;\n  if (rag === 'Yellow') return 1;\n  if (rag === 'Green') return 2;\n  return 3;\n}\n\nfunction getRelation(value) {\n  if (Array.isArray(value)) return value[0] || null;\n  return value || null;\n}\n\nconst brief = $('Fetch EOD Brief').item.json;\nconst updates = toArray($json)\n  .map((update) => ({\n    ...update,\n    project: getRelation(update.project),\n    implementation: getRelation(update.implementation)\n  }))\n  .sort((left, right) => severity(left.rag) - severity(right.rag) || String(left.project?.name || '').localeCompare(String(right.project?.name || '')));\n\nif (updates.length === 0) {\n  return [{ json: { subject: brief.subject, html: brief.html, text: brief.text } }];\n}\n\nconst topUpdates = updates.slice(0, 8);\nconst htmlSection = `\n  <section style=\"margin-top:24px;\">\n    <h2 style=\"font-size:18px;line-height:1.3;margin:0 0 12px;\">Project Status Updates</h2>\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n      ${topUpdates.map((update) => {\n        const projectName = escapeHtml(update.project?.name || 'Unknown project');\n        const rag = escapeHtml(update.rag || 'Unknown');\n        const summary = escapeHtml(update.summary || 'No summary provided.');\n        const nextStep = update.next_step ? `<div style=\"margin-top:6px;\"><strong>Next:</strong> ${escapeHtml(update.next_step)}</div>` : '';\n        const decision = update.needs_decision ? `<div style=\"margin-top:4px;\"><strong>Decision:</strong> ${escapeHtml(update.needs_decision)}</div>` : '';\n        const blockers = Array.isArray(update.blockers) && update.blockers.length > 0\n          ? `<div style=\"margin-top:4px;\"><strong>Blockers:</strong> ${escapeHtml(update.blockers.join('; '))}</div>`\n          : '';\n        return `<tr><td style=\"padding:0 0 14px;\"><div style=\"border:1px solid #d0d7de;border-radius:12px;padding:14px;\"><div style=\"font-weight:600;\">${projectName} <span style=\"font-weight:400;\">(${rag})</span></div><div style=\"margin-top:6px;\">${summary}</div>${nextStep}${decision}${blockers}</div></td></tr>`;\n      }).join('')}\n    </table>\n  </section>\n`;\n\nconst textSection = [\n  'Project Status Updates:',\n  ...topUpdates.flatMap((update) => {\n    const lines = [`- ${update.project?.name || 'Unknown project'} (${update.rag || 'Unknown'}): ${update.summary || 'No summary provided.'}`];\n    if (update.next_step) lines.push(`  Next: ${update.next_step}`);\n    if (update.needs_decision) lines.push(`  Decision: ${update.needs_decision}`);\n    if (Array.isArray(update.blockers) && update.blockers.length > 0) lines.push(`  Blockers: ${update.blockers.join('; ')}`);\n    return lines;\n  })\n].join('\\n');\n\nreturn [{\n  json: {\n    subject: brief.subject,\n    html: `${brief.html}${htmlSection}`,\n    text: `${brief.text}\\n\\n${textSection}`\n  }\n}];"
      },
      "id": "7b7784f4-2469-428f-a630-fc98e9cf1da2",
      "name": "Build EOD Email With Project Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        280
      ]
    },
    {
      "parameters": {
        "sendTo": "change-me@example.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "emailType": "html",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "01f3c4c7-adcf-46ce-a76f-d2e5d6a4c89d",
      "name": "Send EOD Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        180,
        280
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Morning Schedule": {
      "main": [
        [
          {
            "node": "Fetch Morning Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Morning Brief": {
      "main": [
        [
          {
            "node": "Send Morning Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Midday Schedule": {
      "main": [
        [
          {
            "node": "Fetch Midday Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Midday Brief": {
      "main": [
        [
          {
            "node": "Send Midday Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EOD Schedule": {
      "main": [
        [
          {
            "node": "Fetch EOD Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch EOD Brief": {
      "main": [
        [
          {
            "node": "Fetch Today Project Status Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Today Project Status Updates": {
      "main": [
        [
          {
            "node": "Build EOD Email With Project Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build EOD Email With Project Status": {
      "main": [
        [
          {
            "node": "Send EOD Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York"
  },
  "versionId": "c299f0f6-c112-4614-a22e-949761b6d90a",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "qLQmbnZK2W7Vq5PR",
  "tags": []
}
